.orangeBack {
    background-color: #F86201 !important;
}
.orangeText {
    color: #F86201 !important;
}
.orangeOut {
    border-color: #F86201 !important;
}
.greyBack {
    background-color: #828282 !important;
}
.ltGreyBack{
    background-color: #EDEDED;
}
h3 {
    font-size: 18px !important;
    font-weight: 500 !important;
}
h4 {
    font-size: 16px !important;
    font-weight: 500 !important;
}
h5{
    font-weight: 300 !important;
    font-size: 14px !important;
    
}
h6{
    font-weight: 300 !important;
    font-size: 12px !important;

}
hr{
    color: black !important;
}
.p2 {
    font-weight: 300 !important;
    font-size: 10px !important;
}
.p3 {
    font-weight: 300 !important;
    font-size: 8px !important;
}
.acBtnWm{
    border:  0px !important;
    color: #F96302 !important;
}


.login100-form-btn:hover {
    background-color: #828282 !important; 
}
.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(175, 175, 175, 0.5);
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #828282;
    border-color: #828282;
}